html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif
}

h2 {
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: teal;
}

footer a + a {
    padding-left: 1em;
}